/* roboto from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variáveis */
:root {
  --color-primary: #ff7e5f;
  --color-secondary: #feb47b;
  --color-background: #f0f0f0;
  --color-text: #333;
  --default-font: "Roboto", sans-serif;

  --default-transition: all 0.3s ease-in-out;
}

/* html */
html {
  font-size: 16px;
}

body {
  background-color: gray;
  font-size: 1rem;
  font-family: var(--default-font);
}

/* botão de adiconar novos links */
#btn-add-link {
  font-size: 2rem;
  background: var(--color-primary);
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  transition: var(--default-transition);

  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

#btn-add-link:hover,
#btn-add-link:active {
  transform: scale(0.8);
}
