/* roboto from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variáveis */
:root {
  --color-primary: #ff7e5f;
  --color-secondary: #feb47b;
  --color-background: #f0f0f0;
  --color-text: #333;
  --default-font: "Roboto", sans-serif;
}

/* html */
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: var(--default-font);
}
